.myform{
 background-image: url(Green_Background_Green_Condom_Club.jpg);
  width: 500px;
  margin: 45px auto;
  
}
h1{
    color:white ;
    text-align: center;
    font-size: 45px;
}
input{
    text-align: center;
    margin-left: 50px;
    display: block;
    font-size: 20px;
}
button{
    margin-left: 50px;
    display: block;
    text-align: initial;
    font-size: 25px;
}




    