* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

/* .hexagon {
  --width: 100px;
  width: var(--width);
  height: calc(var(--width) * 1.7);
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  border-top: calc(var(--width) * 1.7 / 2) solid transparent;
  border-bottom: calc(var(--width) * 1.7 / 2) solid transparent;
}

.hexagon::before {
  border-right: calc(var(--width) / 2) solid black;
  right: var(--width);
  border-top-color: transparent;
}

.hexagon::after {
  border-left: calc(var(--width) / 2) solid black;
  left: var(--width);
} */

.hexagon {
    width: calc(var(--width ) * 2);
    height: calc(var(--width) * 1.7);
    background-color: rgb(20,20,20);
    
    transform: rotate(90deg);
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transition: background-color 2s ease;
    animation: anime 4s linear infinite  ;
}

.hexagon:hover {
    transition: background-color 0s ease;
    background-color: #1e5799;
    animation: anime 4s linear infinite  ;
}

.hexagon::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(20,20,20);
    
}

.row {
    display:inline-flex;
    --width: 50px;
}


.row:nth-of-type(even) {
    transform: translateX(calc(var(--width) * -1));
    
}


@keyframes anime {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(100deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }
}
