* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --box-size: 200px;
}

.container {
  display: grid;
  grid-auto-columns: calc(var(--box-size) / 2);
  grid-auto-flow: column;
  width: min-content 50px;
  background-color: black;
  padding: 60px;
  padding-right: calc(60px + var(--box-size) / 2);
}
body {
  background-color: tomato;
  height: 100vh;
  display: grid;
  place-content: center;
}

.box { 
  width: var(--box-size);
  height: var(--box-size);
  position: relative;  
display: inline block
}
.box1 {
  background-color: rebeccapurple;
}

.box2 {
  background-color: red;
  margin-top: calc(1 * var(--box-size) / 2);
}

.box3 {
  background-color: blue;
  margin-top: calc(2 * var(--box-size) / 2);
}

.box4 {
  background-color: yellow;
  margin-top: calc(3 * var(--box-size) / 2);
}